.current-city {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--card-bg);
    padding: 1rem 1.5rem;
    border-radius: 15px;
}

.current-city img {
    width: 35px;
    height: 35px;
}

.current-city__row {
    display: flex;
    justify-content: space-between;
}

/* Second row */
.current-city__condition-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.current-city__wind {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}

.current-city__wind img {
    width: 25px;
    height: 25px;
}

.current-city__wind p {
    font-size: 1rem;
}

/* .current-city__condition-container img {
    width: 35px;
} */

.current-city__temp {
    font-size: 2.5rem;
    /* font-size: 3rem; */
    font-weight: 700;
    line-height: 1.2;
}

.currenty-city__info {
    text-align: right;
}

.current-city__city {
    font-size: 1.25rem;
}

.current-city__time {
    font-size: 0.75rem;
}

.current-city__condition {
    font-size: 0.75rem;
}

.current-city__third-row {
    font-size: 0.75rem;
}
