.home {
    display: flex;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.home form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.home input {
    color: var(--primary-txt);
    background-image: url("../assets/magnifying-glass.svg");
    background-position: 1.125rem center;
    background-size: 1.35rem 1.35rem;
    background-color: var(--card-bg);
    background-repeat: no-repeat;
    border-radius: 25px;
    border: none;
    padding: 1rem 3rem 0.75rem 4rem;
}

.home input:focus {
    outline: 2px solid var(--secondary-txt);
}

.home button {
    font-size: 0.875rem;
    color: var(--primary-txt);
    border: none;
    border-radius: 25px;
    background-color: hsl(207, 77%, 20%);
    padding: 0.45rem 1rem 0.25rem 1rem;
}
