.checkbox-apple {
  position: relative;
  width: 50px;
  height: 25px;

  user-select: none;
}

.checkbox-apple label {
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 25px;
  border-radius: 50px;
  background: var(--card-bg);
  cursor: pointer;
  transition: all 0.3s ease;
}

/* The sliding circle */
.checkbox-apple label::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 1px;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s ease;
}

/* Add BOTH labels */
.checkbox-apple label span {
  position: absolute;
  top: 50%;
  transform: translateY(-45%);
  font-size: 0.75rem;
  font-weight: 600;
  color: var(--secondary-txt);
  transition: color 0.3s ease;
}

.checkbox-apple label .celsius {
  left: 6px;
}

.checkbox-apple label .fahrenheit {
  right: 6px;
}

/* When checked, move toggle and change active color */
.checkbox-apple input[type="checkbox"]:checked + label::after {
  transform: translateX(25px);
}

.checkbox-apple input[type="checkbox"]:checked + label .fahrenheit {
  color: var(--card-bg);
  z-index: 1;
}

.checkbox-apple input[type="checkbox"]:not(:checked) + label .celsius {
  color: var(--card-bg);
  z-index: 1;
}

/* Hide checkbox */
.checkbox-apple input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}