.loading-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: var(--card-bg);
    border-radius: 15px;
}

.dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.loading-dashboard {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--card-bg);
    border-radius: 15px;
    min-height: 0;
}
